### Python if else, for loop, and range() Exercise
https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/

To decide or control the flow of a program, we have branching and looping techniques in Python. To perform decision-making, we use the if-else statement in Python. To iterate over a sequence of elements, we use for loop, and when we want to iterate a block of code repeatedly, as long as the condition is true, we use the while loop.

We often use a loop, and if-else statement in our program, so a good understanding of it is necessary.

This Python loop exercise aims to help Python developers to learn and practice if-else conditions, for loop, range() function, and while loop. All questions are tested on Python 3.

https://pynative.com/python-range-function/

### Exercise 1: 
Print First 10 natural numbers using while loop

### Exercise 2: 
Print the following pattern
1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

### Exercise 3: 
Accept number from user and calculate the sum of all number from 1 to a given number

### Exercise 4: 
Print multiplication table of a given number

### Exercise 5: 
Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

### Exercise 6: 
Given a number count the total number of digits in a number

For example, the number is 75869, so the output should be 5.

### Exercise 7: 
Print the following pattern using for loop

5 4 3 2 1 

4 3 2 1 

3 2 1 

2 1 

1

### Exercise 8: 
Reverse the following list using for loop

list1 = [10, 20, 30, 40, 50]

### Exercise 9: 
Display numbers from -10 to -1 using for loop

### Exercise 10: 
Display a message “Done” after successful execution of for loop

### Exercise 11: 
Write a program to display all prime numbers within a range

Note: A Prime Number is a whole number that cannot be made by multiplying other whole numbers

Examples:

6 is not a Prime Number because it can be made by 2×3 = 6

37 is a Prime Number because no other whole numbers multiply together to make it.

### Exercise 12: 
Display Fibonacci series up to 10 terms

### Exercise 13: 
Write a loop to find the factorial of any number

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

### Exercise 14:
Reverse a given integer number

### Exercise 15: 
Use a loop to display elements from a given list that are present at even index positions

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### Exercise 16:
Display the cube of the number up to a given integer

### Exercise 17: 
Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

### Exercise 18: 
Print the following pattern

https://pynative.com/print-pattern-python-examples/

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * *
* * 
*