### Python if else, for loop, and range() Exercise
https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/

To decide or control the flow of a program, we have branching and looping techniques in Python. To perform decision-making, we use the if-else statement in Python. To iterate over a sequence of elements, we use for loop, and when we want to iterate a block of code repeatedly, as long as the condition is true, we use the while loop.

We often use a loop, and if-else statement in our program, so a good understanding of it is necessary.

This Python loop exercise aims to help Python developers to learn and practice if-else conditions, for loop, range() function, and while loop. All questions are tested on Python 3.

https://pynative.com/python-range-function/

### Exercise 1: 
Print First 10 natural numbers using while loop

In [1]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

### Exercise 2: 
Print the following pattern
1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

In [2]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

Second Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [36]:
num = 1
string = ''
while num <= 5:
    string = string+str(num)+' '
    print(string)
    num += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Exercise 3: 
Accept number from user and calculate the sum of all number from 1 to a given number

In [3]:
sum1 = 0
n = int(input("Please enter number "))
for i in range(1, n + 1, 1):
    sum1 += i
print("\n")
print("Sum is: ", sum1)

Please enter number 2


Sum is:  3

### Exercise 4: 
Print multiplication table of a given number

In [4]:
n = 2
for i in range(1, 11, 1):
    product = n*i
    print(product)

2
4
6
8
10
12
14
16
18
20

In [39]:
def multtable(number):
    i = 1
    while i <= 10:
        print(number*i)
        i += 1
multtable(2)

2
4
6
8
10
12
14
16
18
20

### Exercise 5: 
Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [34]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for item in list1:
    if (item > 150):
        break
    if(item % 5 == 0):
        print(item)

15
55
75
150

In [35]:
def divi5(lst):
    for x in range(len(lst)):
        if lst[x] <= 150 and lst[x] % 5 == 0:
            print(lst[x])
divi5(list1)

15
55
75
150

### Exercise 6: 
Given a number count the total number of digits in a number

For example, the number is 75869, so the output should be 5.

In [6]:
num = 75869
count = 0
while num != 0:
    num //= 10
    count+= 1
print("Total digits are: ", count)

Total digits are:  5

In [30]:
n = 75869
print(len(str(n)))

5

### Exercise 7: 
Print the following pattern using for loop

5 4 3 2 1 

4 3 2 1 

3 2 1 

2 1 

1

In [7]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### Exercise 8: 
Reverse the following list using for loop

list1 = [10, 20, 30, 40, 50]

In [8]:
list1 = [10, 20, 30, 40, 50]
start = len(list1) - 1
stop = -1
step = -1
for i in range(start, stop, step) :
    print(list1[i])

50
40
30
20
10

### Exercise 9: 
Display numbers from -10 to -1 using for loop

In [9]:
for num in range(-10, 0, 1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### Exercise 10: 
Display a message “Done” after successful execution of for loop

In [10]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

### Exercise 11: 
Write a program to display all prime numbers within a range

Note: A Prime Number is a whole number that cannot be made by multiplying other whole numbers

Examples:

6 is not a Prime Number because it can be made by 2×3 = 6

37 is a Prime Number because no other whole numbers multiply together to make it.

In [11]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

### Exercise 12: 
Display Fibonacci series up to 10 terms

In [12]:
terms = 10
# first two terms
num1, num2 = 0, 1
count = 0

print("Fibonacci sequence:")
while count < terms:
    print(num1, end="  ")
    temp = num1 + num2
    # update values
    num1 = num2
    num2 = temp
    count += 1

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [40]:
n1 = 0
n2= 1
temp = 0
for x in range(1,10+1):
    print(n1, end=" ")
    temp = n1+n2
    n1=n2
    n2=temp

0 1 1 2 3 5 8 13 21 34

### Exercise 13: 
Write a loop to find the factorial of any number

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

In [13]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [42]:
num=5
for i in range(num-1,1,-1):
    while i<0:
        break
    else:
     num *= i
     factorial = num
print(factorial)

120

### Exercise 14:
Reverse a given integer number

In [14]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revered Number ", reverse_number)

Given Number  76542
Revered Number  24567

In [41]:
num=76542 
snum=str(num) 
print (snum[: : -1])

24567

### Exercise 15: 
Use a loop to display elements from a given list that are present at even index positions

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [15]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [31]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for items in my_list:
    if(items%20==0):
        print(items)

20
40
60
80
100

### Exercise 16:
Display the cube of the number up to a given integer

In [16]:
input_number = 6
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [29]:
input_num = 6
for i in range(1, input_num+1) :
    print('Current no is : ', i ,' and the cube is ', i**3) #for cube ' i **3 ' exponent in python is **

Current no is :  1  and the cube is  1
Current no is :  2  and the cube is  8
Current no is :  3  and the cube is  27
Current no is :  4  and the cube is  64
Current no is :  5  and the cube is  125
Current no is :  6  and the cube is  216

### Exercise 17: 
Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

In [17]:
number_of_terms = 5
start = 2
sum = 0
for i in range(0, number_of_terms):
    print(start, end=" ")
    sum += start
    start = (start * 10) + 2
print("\nSum of above series is:", sum)

2 22 222 2222 22222
Sum of above series is: 24690

In [28]:
rows = int(input('enter no of rows : '))
original_series = int(input('enter starting value of series : '))#to store the starting value of the series
series = 0
total = 0
for i in range(0,rows):
    series = (series*10)+original_series
    print(series)
    total = total + series
txt = 'Sum of the first {} rows of the above series is {}'
print(txt.format(rows,total))

enter no of rows : 2
enter starting value of series : 8
8
88
Sum of the first 2 rows of the above series is 96

### Exercise 18: 
Print the following pattern

https://pynative.com/print-pattern-python-examples/

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * *
* * 
*

In [18]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [26]:
user_input=int(input("How many blocks do you want to add to your vertical pyramid?: "))
for n in range(1, user_input):
        print('*'*n)
        
for n in range(user_input, 0, -1):
        print('*'*n)

How many blocks do you want to add to your vertical pyramid?: 5
*
**
***
****
*****
****
***
**
*

In [27]:
rows = 5
for r in range(1,rows+1):#variable 'r' value increases from 1 to 5{range(1,6)}
    print('* '*r)#strings displayed several times by multiplying
    print("\r")
for c in range(rows-1,0,-1):#variable 'c' value decreases from 4 to 1{range(4,0,-1)}
    print('* '*c)
    print('\r')

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*