### Python Set Exercise with Solutions
https://pynative.com/python-set-exercise-with-solutions/

A set is an unordered collection of items. Every item is unique in it. i.e., the Python set doesnâ€™t allow duplicates.

Read: Complete Guide on

https://pynative.com/python-sets/

### Exercise 1: 
Add a list of elements to a given set

Given:

- sampleSet = {"Yellow", "Orange", "Black"}
- sampleList = ["Blue", "Green", "Red"]

In [1]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
sampleSet.update(sampleList)
print(sampleSet)

{'Yellow', 'Black', 'Orange', 'Red', 'Green', 'Blue'}

## Exercise 2: 
Return a new set of identical items from a given two set

- set1 = {10, 20, 30, 40, 50}
- set2 = {30, 40, 50, 60, 70}

In [2]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

### Exercise 3: 
Returns a new set with all items from both sets by removing duplicates
- set1 = {10, 20, 30, 40, 50}
- set2 = {30, 40, 50, 60, 70}

Note: set is unordered so not necessary this will be the order of the item.

In [3]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

### Exercise 4: 
Given two Python sets, update the first set with items that exist only in the first set and not in the second set.
- set1 = {10, 20, 30}
- set2 = {20, 40, 50}

In [4]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

### Exercise 5: 
Remove items 10, 20, 30 from the following set at once
- set1 = {10, 20, 30, 40, 50}

In [5]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

### Exercise 6: 
Return a set of all elements in either A or B, but not both
- set1 = {10, 20, 30, 40, 50}
- set2 = {30, 40, 50, 60, 70}

In [6]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

### Exercise 7: 
Check if two sets have any elements in common. If yes, display the common elements.
- set1 = {10, 20, 30, 40, 50}
- set2 = {60, 70, 80, 90, 10}

In [7]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}

### Exercise 8: 
Update set1 by adding items from set2, except common items
- set1 = {10, 20, 30, 40, 50}
- set2 = {30, 40, 50, 60, 70}

In [8]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

### Exercise 9: 
Remove items from set1 that are not common to both set1 and set2
- set1 = {10, 20, 30, 40, 50}
- set2 = {30, 40, 50, 60, 70}

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}