### Python Tuple Exercise with Solutions

https://pynative.com/python-tuple-exercise-with-solutions/

A tuple is an immutable object in Python that canâ€™t be changed. Tuples are also sequences, just like Python lists.

https://pynative.com/python-tuples/

### Exercise 1: 
Reverse the following tuple
- aTuple = (10, 20, 30, 40, 50)

In [1]:
aTuple = (10, 20, 30, 40, 50)
aTuple = aTuple[::-1]
print(aTuple)

(50, 40, 30, 20, 10)

### Exercise 2: 
Access value 20 from the following tuple
- aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [2]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

### Exercise 3: 
Create a tuple with single item 50

In [3]:
aTuple = (50, )
print(aTuple)

(50,)

### Exercise 4: 
Unpack the following tuple into 4 variables
- aTuple = (10, 20, 30, 40)

In [4]:
aTuple = (10, 20, 30, 40)
a, b, c, d = aTuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

### Exercise 5: 
Swap the following two tuples
- tuple1 = (11, 22)
- tuple2 = (99, 88)

In [5]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

### Exercise 6: 
Copy element 44 and 55 from the following tuple into a new tuple
- tuple1 = (11, 22, 33, 44, 55, 66)

In [6]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

### Exercise 7: 
Modify the first item (22) of a list inside a following tuple to 222
- tuple1 = (11, [22, 33], 44, 55)

In [7]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

## Exercise 8: 
Sort a tuple of tuples by 2nd item

- tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

In [8]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

### Exercise 9: 
Counts the number of occurrences of item 50 from a tuple

- tuple1 = (50, 10, 60, 70, 50)

In [9]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

### Exercise 10: 
Check if all items in the following tuple are the same
- tuple1 = (45, 45, 45, 45)

In [10]:
def check(sampleTuple):
    return all(i == sampleTuple[0] for i in sampleTuple)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True

In [11]:
tuple1 = (45, 45, 45, 45)
print(min(tuple1) == max(tuple1) if tuple1 else 'No data to check')

True

In [12]:
tuple1 = (45, 45, 45, 45)
len(tuple1)==tuple1.count(tuple1[0])

True