### Python Pandas Exercise
https://pynative.com/python-pandas-exercise/

Pandas is an open-source, BSD-licensed Python library. Pandas is a handy and useful data-structure tool for analyzing large and complex data.

Practice DataFrame, Data Selection, Group-By, Series, Sorting, Searching, statistics. Practice Data analysis using Pandas.

In this exercise, we are using Automobile Dataset for data analysis. This Dataset has different characteristics of an auto such as body-style, wheel-base, engine-type, price, mileage, horsepower, etc.

download the below csv file and save in the same directory of this file if not exsists
https://pynative.com/wp-content/uploads/2019/01/Automobile_data.csv

### Exercise 1: 
From the given dataset print the first and last five rows

### Exercise 2: 
Clean the dataset and update the CSV file

Replace all column values which contain ?, n.a, or NaN.

### Exercise 3: 
Find the most expensive car company name

Print most expensive car’s company name and price

### Exercise 4: 
Print All Toyota Cars details

### Exercise 5: 
Count total cars per company

### Exercise 6: 
Find each company’s Higesht price car

### Exercise 7: 
Find the average mileage of each car making company

### Exercise 8: 
Sort all cars by Price column

### Exercise 9: 
Concatenate two data frames using the following conditions

Create two data frames using the following two dictionaries.

- GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
- japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

### Exercise 10: 
Merge two data frames using the following condition

Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.

- Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
- car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}